.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
build/
**/build/
**/.dart_tool/
**/.gradle/
**/.idea/
**/.vscode/
**/.metadata
**/Pods/
**/DerivedData/
backend/.venv/
backend/__pycache__/
backend/*.db
backend_storage.db
*.log
